html body header nav.navbar.navbar-expand-lg.navbar-light.bg-light div#navbarSupportedContent.collapse.navbar-collapse {
    float: right;
}

/* Выделение текста */
::selection {
    background: #d30026;
    color: #fff
}

/* Логотип */
html body header nav.navbar.navbar-expand-lg.navbar-light.bg-light a.navbar-brand {
    color: #d30026;
}

/* Карточки */
html body main div.container-fluid div.row.justify-content-left.ml-3 div.col-md-3 div.card {
    height: 100%;
}

/* Поля формы */
form .form-control:focus {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    border-color: #d30026;
}

/* Радиобоксы, чекбоксы */
input[type=radio], input[type=checkbox] {
    accent-color: #d30026;
}

/* Таблица результатов */
html body div.container-fluid div.row.justify-content-center table.table.mt-5.ml-5 thead.thead {
    background-color: #f8f9fa;
}

/* Страница пагинации */
html body div.container-fluid div.row.justify-content-center nav ul.pagination li.page-item a.page-link {
    color: #d30026;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
}

/* Активная страница пагинации*/
html body div.container-fluid div.row.justify-content-center nav ul.pagination.mt-5 li.page-item.active a.page-link {

    color: #ffffff;
    background-color: #d30026;
    border-color: rgba(211, 0, 38, 0.1);
}


